#header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    position: relative;
}


#header .profile-wrapper .profile-img {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#header .profile-wrapper .profile-detail {
    position: absolute;
    left: 30px;
    top: 10px;
    transform: translateY(80%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    transition: all .3s ease-in-out;
    visibility: hidden;
}

#header .profile-wrapper .profile-detail::before {
    position: absolute;
    content: '';
    left: 20%;
    top: -5px;
    margin-left: -5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
}

#header .profile-wrapper .profile-detail li {
    padding: 5px;
}

#header .profile-wrapper:hover .profile-detail {
    visibility: visible;
}

#header .profile-wrapper:hover .profile-img {
    background-color: #ccc;
    box-shadow: 5px 5px 20px #666;
    background: linear-gradient(135deg, #f58529, #f77737, #feda77, #dd2a7b, #8134af);
}

.profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#header .links {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-color);
    height: 100vh;
    width: 100%;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-50px);
    transition: all .3s ease-in-out;
    pointer-events: none;
    z-index: 99;
}

#header .links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#header .links a {
    color: var(--light-color);
    font-size: 22px;
}

#header .icon-wrapper {
    position: absolute;
    right: 40px;
    top: 50px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    animation: barAnimation 3s ease-in-out infinite;
}

#header .icon-wrapper .icon {
    cursor: pointer;
    font-size: 24px;
    color: var(--light-color);
}

@keyframes barAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.09);
    }

    100% {
        transform: scale(1);
    }
}
/* @media (max-width:500px) {
    #header .icon-wrapper{
        top: 50px;
    }
} */