.boss-parent {
    position: relative;
}

.boss-parent .scroll-top {
    background-color: var(--light-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 1px solid var(--dark-color);
    cursor: pointer;
    z-index: 99;
}

.boss-parent .scroll-top .icon {
    width: 90%;
    height: 90%;
}

/* components */
.colored-span {
    color: var(--main-color);
}

.amar-btn {
    border: transparent;
    padding: 15px;
    margin: 0 3px;
    cursor: pointer;
    transition: .3s;
    border-radius: 30px;
    background-color: var(--main-color);

}

.amar-btn:hover {
    background-color: var(--main-color-hover);
    outline: 1px solid var(--main-color);
}

.intro-projects-card {
    width: 330px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    transition: all .7s ease-in-out;
    z-index: 2;
}

.intro-projects-card:hover {
    transform: rotate(3deg);
    box-shadow: 5px 5px 20px #333;
}

.intro-projects-card .card-head h3 {
    color: var(--light-color);
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.intro-projects-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.intro-projects-card .card-body p {
    color: var(--light-color);
    opacity: .8;
}

.intro-projects-card .card-body .img-wrapper {
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.intro-projects-card .card-body .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;

}

.intro-projects-card:hover .card-body .img-wrapper img {
    transform: scale(1.05);
}

.intro-projects-card .card-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.intro-projects-card .card-footer .code-link {
    margin-left: 15px;
    color: var(--main-color);
}