@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
  --main-color: #f75b00;
  --dark-color: #222;
  --light-color: #eee;
  --background: #fafafa;
  --link-color: #005f99;
  --background2: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--link-color);
}

input,
textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 3px;
  box-shadow: 1px 1px 10px #eee;
  transition: all .1s ease-in-out;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--main-color);
  box-shadow: 1px 1px 20px #999;
}